[tool.poetry]
name = "funcnodes"
version = "0.5.7"
description = "funcnodes"
authors = ["Julian Kimmig <julian.kimmig@linkdlab.de>"]
readme = "README.md"
license = "AGPL-3.0"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)",
    ]


[tool.poetry.urls]
homepage  = "https://github.com/Linkdlab/funcnodes"
source  = "https://github.com/Linkdlab/funcnodes"
tracker  = "https://github.com/Linkdlab/funcnodes/issues"
download = "https://pypi.org/project/funcnodes/#files"


[tool.poetry.dependencies]
python = ">=3.11"
websockets = "*"
virtualenv = "*"

setproctitle = ">=1"
funcnodes-basic = ">=0.2.0"
funcnodes-core = ">=0.3.6"
funcnodes-react-flow = ">=0.2.2"
requests = "*"
subprocess-monitor = ">=0.2.0"
venvmngr = ">=0.1.5"
aiohttp-cors = "^0.7.0"


[tool.poetry.group.dev.dependencies]
pytest = "*"
coverage = "*"
pre-commit = "*"
vulture = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
funcnodes = 'funcnodes.__main__:main'


[tool.vulture]
min_confidence = 80
paths = ["funcnodes"]
