[tool.poetry]
name = "funcnodes"
version = "0.4.25"
description = "funcnodes"
authors = ["Julian Kimmig <julian.kimmig@linkdlab.de>"]
readme = "README.md"
license = "MIT"

[tool.poetry.urls]
homepage  = "https://github.com/Linkdlab/funcnodes"
source  = "https://github.com/Linkdlab/funcnodes"
tracker  = "https://github.com/Linkdlab/funcnodes/issues"
download = "https://pypi.org/project/funcnodes/#files"


[tool.poetry.dependencies]
python = ">=3.11"
websockets = "*"
virtualenv = "*"

setproctitle = ">=1"
funcnodes-basic = ">=0.1.6"
funcnodes-core = ">=0.2.0"
funcnodes-react-flow = ">=0.2.0"
requests = "*"
subprocess-monitor = "^0.1.0"
venvmngr = "^0.1.3"


[tool.poetry.group.dev.dependencies]
pytest = "*"
coverage = "*"
pre-commit = "*"
vulture = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
funcnodes = 'funcnodes.__main__:main'


[tool.vulture]
min_confidence = 80
paths = ["funcnodes"]
