[project]
name = "funcnodes"
version = "0.5.12"
description = "funcnodes"

authors = [{name = "Julian Kimmig", email = "julian.kimmig@linkdlab.de"}]
readme = "README.md"
license = "AGPL-3.0"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)",
    ]
requires-python = ">=3.11"
dependencies = [
    "websockets",
    "virtualenv",
    "setproctitle",
    "funcnodes-basic>=0.2.1",
    "funcnodes-core>=0.3.14",
    "funcnodes-react-flow>=0.3.4",
    "requests",
    "subprocess-monitor>=0.2.0",
    "venvmngr>=0.1.10",
    "aiohttp-cors",
    ]


[project.urls]
homepage  = "https://github.com/Linkdlab/funcnodes"
source  = "https://github.com/Linkdlab/funcnodes"
tracker  = "https://github.com/Linkdlab/funcnodes/issues"
download = "https://pypi.org/project/funcnodes/#files"


[tool.poetry.group.dev.dependencies]
pytest = "*"
coverage = "*"
pre-commit = "*"
vulture = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[project.scripts]
funcnodes = 'funcnodes.__main__:main'


[tool.vulture]
min_confidence = 80
paths = ["funcnodes"]
